<div>
  <input [(ngModel)]="city" placeholder="Enter city name" />
  <button (click)="getWeatherAndForecast()">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>
<div *ngIf="weatherData">
  <p>
    Now {{ weatherData.current.temp_c }} °C
    <i [ngClass]="getWeatherIcon(weatherData.current.condition.text)"></i>
    {{ weatherData.current.condition.text }}
  </p>
</div>
<div *ngIf="forecastData">
  <div *ngFor="let day of forecastData.forecast.forecastday">
    <p>{{ day.date | date:'MM-dd' }} {{ day.date | date:'EEE' }}</p>
    <p>
      {{ day.day.avgtemp_c }} °C
      <i [ngClass]="getWeatherIcon(day.day.condition.text)"></i>
      {{ day.day.condition.text }}
    </p>
  </div>
</div>
<div class="search-history">
  <h3>Search History</h3>
  <ul>
    <li *ngFor="let city of searchHistory" (click)="loadCityWeather(city)">{{ city }}</li>
  </ul>
</div>

