// Variables
$background-color: #451952;
$font-color: white;
$button-bg-color: #AE445A;
$button-font-color: white;

// Base styles for the component
:host {
  display: block;
  background-color: $background-color;
  padding: 1rem;
  color: $font-color;
}

// Input field
input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid darken($background-color, 15%);
  border-radius: 0.25rem;
}

// Buttons
button {
  padding: 0.5rem 1rem;
  background-color: $button-bg-color;
  color: $button-font-color;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  
  &:hover {
    background-color: darken($button-bg-color, 10%);
  }
}

// Weather display
div {
  & *ngIf {
    margin-top: 1rem;
    p {
      margin: 0.5rem 0;
    }
  }
}

.search-history {
  border-left: 1px solid #e0e0e0;
  padding-left: 20px;
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

