<div>
  <input [(ngModel)]="city" placeholder="Enter city name" />
  <button (click)="getWeatherAndForecast()">Get Weather</button>
</div>
<div *ngIf="weatherData">
  <p>
    Now {{ weatherData.current.temp_c }} °C
    <i [ngClass]="getWeatherIcon(weatherData.current.condition.text)"></i>
    {{ weatherData.current.condition.text }}
  </p>
</div>
<div *ngIf="forecastData">
  <div *ngFor="let day of forecastData.forecast.forecastday">
    <p>Date: {{ day.date }}</p>
    <p>
      {{ day.day.avgtemp_c }} °C
      <i [ngClass]="getWeatherIcon(day.day.condition.text)"></i>
      {{ day.day.condition.text }}
    </p>
  </div>
</div>
