// Variables
$background-color: #451952;
$font-color: white;
$head-color: #F39F5A;
$button-bg-color: #AE445A;


.weather-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; // Space between input search and table

  td {
    padding: 8px 12px;
    text-align: center;

    i {
      margin-right: 5px; // space between icon and the text
    }
  }

  tr:first-child {
    background-color: $head-color; // slightly different color for the current weather
  }

}
