<!-- Loop through all the search history -->
<ng-container *ngFor="let historyItem of searchHistory; let i = index">
  <h3>{{ historyItem.city }}</h3>
  <table class="weather-table">
    <tbody>
      <!-- Current Weather Data -->
      <tr>
        <td>
          {{ historyItem.weatherData.location.localtime | date:'MM-dd' }} {{ historyItem.weatherData.location.localtime | date:'EEE' }}
        </td>
        <td>
          {{ historyItem.weatherData.current.temp_c }} °C
        </td>
        <td>
          <i [ngClass]="weatherService.getWeatherIcon(historyItem.weatherData.current.condition.text)"></i>
        </td>
        <td>{{ historyItem.weatherData.current.condition.text }}</td>
      </tr>

      <!-- Forecast Data -->
      <tr *ngFor="let day of historyItem.forecastData.forecast.forecastday">
        <td>{{ day.date | date:'MM-dd' }} {{ day.date | date:'EEE' }}</td>
        <td>
          {{ day.day.avgtemp_c }} °C
        </td>
        <td>
          <i [ngClass]="weatherService.getWeatherIcon(day.day.condition.text)"></i>
        </td>
        <td>{{ day.day.condition.text }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
